*{
    margin: 0;
    padding: 0;
}
.heading-style {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    background-image: linear-gradient(to right,red,green,yellow);
    text-decoration-line: underline;
}
.card1{
    margin: 10px auto;
    border: 3px solid red;
    background-color: skyblue;
    border-radius: 10px;
}
.list-style{
    margin: 5px auto;
    display: table;
    text-align: center;
}
.card2{
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid red;
    background-color: rgb(14, 133, 103);
    border-radius: 10px;
    font-weight: bold;
}
.box {
    width: 400px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: aqua;
}
.card3 {
    background-image: linear-gradient(to right,red,yellow, red);
    height: 40px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-color: red;
}
.card4{
    margin: 20px auto;
    height: 250px;
    background-image: radial-gradient(blue,#1597E5,#B2EA70);
    display: grid;
    grid-template-columns: repeat(4,300px);
}
.box1 {
    width: 200px;
    height: 130px;
    margin-top: 50px;
    margin-left: 70px;
    border: 1px solid red;
    border-radius: 15px;
    background-color: yellow;
    text-align: center;
    color: brown;
    text-decoration-line: underline;
    text-decoration-color: brown;
}
.card6{
    display: grid;
    grid-template-columns: repeat(3,1fr) 150px;
    gap: 10px;
    color: white;
    text-align: center;
    border: 1px solid grey;
    margin-bottom: 30px;
}
.card5{
    background-color: crimson;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    height: 40px;
    grid-row: 1/2;
    grid-column:1/5;
}
.box2{
    grid-row: 2/3;
    font-size: 28px;
    background-color: greenyellow;
}
.box3{
    grid-row: 2/3;
    font-size: 30px;
    background-color: #A2D2FF;
}
.box4{
    grid-row: 2/3;
    font-size: 25px;
    background-color: #113CFC;
}
.box5{
    grid-row: 2/4;
    grid-column: 4/5;
    text-align: start;
    background-color: black;
}
.box6{
    grid-column: 1/4;
    font-size: 20px;
    background-color: #FFA400;
}
.style-tx {
    border-bottom: 1px solid white;
    font-size: 20px;
}
.box7 {
    background-color: turquoise;
    grid-column: 1/5;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    color: black;
}
